html {
  background-color: #E1D4C9;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.container {
  display: flex;
  max-width: 1440px;
  padding: 16px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
}
.container .main {
  display: flex; /*creates flexbox that orders elements either in rows or columns*/
  flex-direction: column; /*column not columns, everything in one column, defines main axis, top-to bottom, in block direction, default is row */
  align-items: center; /*controls alignment of items on the cross axis (perpendicular to main axis)*/
  gap: 20px;
  align-self: stretch;
}
.container .main .main-container {
  display: flex;
  padding: 0 40px;
  max-width: 1360px;
  flex-direction: column;
  justify-content: center; /*Distributes items evenly. The first item is flush with the start, the last flush with the end*/
  align-items: center;
  align-self: stretch;
}
.container .main .main-container .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.container .main .main-container .header-menu a {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  color: #403f3d;
}
.container .main .main-container .header-menu nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0;
}
.container .main .main-container .header-menu nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .main-container .header-menu nav ul li div {
  border-bottom: 2px solid #403f3d;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container .main .main-container .header-menu nav ul li:hover div {
  width: 100%;
  opacity: 1;
}
.container .main .main-container .header-menu a div {
  border-bottom: 2px solid #403f3d;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container .main .main-container .header-menu a:hover div {
  width: 100%;
  opacity: 1;
}
.container .main .main-container .header-menu .burger-button {
  display: none;
}
.container .main .mobile-menu {
  display: none;
}
.container .main .main-menu {
  display: flex;
  padding: 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.container .main .main-menu .menu-container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.container .main .main-menu .menu-container .offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.container .main .main-menu .menu-container .offer .offer-text {
  max-width: 800px;
  color: #403f3d;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container .main .main-menu .menu-container .offer .offer-text span {
  color: #B0907A;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
}
.container .main .main-menu .menu-container .offer .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  flex-shrink: 1;
}
.container .main .main-menu .menu-container .offer .tabs .tab-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  box-sizing: border-box;
}
.container .main .main-menu .menu-container .offer .tabs .tab-item .icon {
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #C1B6AD;
}
.container .main .main-menu .menu-container .offer .tabs .tab-item .icon img {
  color: #403f3d;
  width: 16px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  margin: 0;
}
.container .main .main-menu .menu-container .offer .tabs .tab-item p {
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.container .main .main-menu .menu-container .offer .tabs .tab-item.active {
  background: #665F55;
}
.container .main .main-menu .menu-container .offer .tabs .tab-item.active p {
  color: #E1D4C9;
}
.container .main .main-menu .menu-container .grid {
  display: none;
  max-width: 1360px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
.container .main .main-menu .menu-container .grid .grid-preview {
  display: flex;
  height: 506px;
  max-width: 310px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  box-sizing: border-box;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-1 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-2 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-3 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-4 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-5 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-6 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-7 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .coffee-8 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .coffee-1 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-1.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-2 {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-2 .coffee-2 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-2.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-3 {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-3 .coffee-3 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-3.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-4 {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-4 .coffee-4 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-4.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-5 {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-5 .coffee-5 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-5.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-6 {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-6 .coffee-6 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-6.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-7 {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-7 .coffee-7 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-7.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-8 {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box-8 .coffee-8 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/coffee-8.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .description {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  max-width: 310px;
}
.container .main .main-menu .menu-container .grid .grid-preview .description .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.container .main .main-menu .menu-container .grid .grid-preview .description .title p:first-of-type {
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container .main .main-menu .menu-container .grid .grid-preview .description .title p:last-of-type {
  align-self: stretch;
  color: #403f3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.container .main .main-menu .menu-container .grid .grid-preview .description p {
  align-self: stretch;
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container .main .main-menu .menu-container .grid.show {
  display: flex;
}
.container .main .main-menu .menu-container .grid {
  display: none;
  max-width: 1360px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
.container .main .main-menu .menu-container .grid .grid-preview {
  display: flex;
  height: 506px;
  max-width: 310px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  box-sizing: border-box;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .tea-1 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .tea-2 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .tea-3 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .tea-4 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .tea-1 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/tea-1.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .tea-2 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/tea-2.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .tea-3 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/tea-3.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .tea-4 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/tea-4.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid.show {
  display: flex;
}
.container .main .main-menu .menu-container .grid {
  display: none;
  max-width: 1360px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
.container .main .main-menu .menu-container .grid .grid-preview {
  display: flex;
  height: 506px;
  max-width: 310px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  box-sizing: border-box;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-1 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-2 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-3 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-4 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-5 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-6 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-7 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview:hover .dessert-8 {
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box {
  display: flex;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-1 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-1.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-2 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-2.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-3 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-3.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-4 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-4.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-5 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-5.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-6 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-6.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-7 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-7.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .box .dessert-8 {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background: url(./img/dessert-8.svg), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container .main .main-menu .menu-container .grid .grid-preview .description {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  max-width: 310px;
}
.container .main .main-menu .menu-container .grid .grid-preview .description .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.container .main .main-menu .menu-container .grid .grid-preview .description .title p:first-of-type {
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container .main .main-menu .menu-container .grid .grid-preview .description .title p:last-of-type {
  align-self: stretch;
  color: #403f3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.container .main .main-menu .menu-container .grid .grid-preview .description p {
  align-self: stretch;
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container .main .main-menu .menu-container .grid.show {
  display: flex;
}
.container .main .main-menu .menu-container .refresh {
  display: none;
}
.container #contacts {
  display: flex;
  padding: 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.container #contacts .contacts-container {
  display: flex;
  max-width: 1360px;
  box-sizing: border-box;
  padding: 100px;
  justify-content: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background-color: #665F55;
  margin-left: auto;
  margin-right: auto;
}
.container #contacts .contacts-container .offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.container #contacts .contacts-container .offer p {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: #E1D4C9;
  margin: 0;
}
.container #contacts .contacts-container .offer p span {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
  color: #B0907A;
}
.container #contacts .contacts-container .offer .socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container #contacts .contacts-container .offer .socials .socials-links {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  transition: background-color 0.5s ease;
}
.container #contacts .contacts-container .offer .socials .socials-links svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  transition: filter 0.5s ease;
}
.container #contacts .contacts-container .offer .socials .socials-links:hover {
  background-color: #C1B6AD;
}
.container #contacts .contacts-container .offer .socials .socials-links:hover path {
  stroke: #403f3d;
}
.container #contacts .contacts-container .contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.container #contacts .contacts-container .contacts-info p {
  align-self: stretch;
  color: #E1D4C9;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container #contacts .contacts-container .contacts-info .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.container #contacts .contacts-container .contacts-info .contacts a, .container #contacts .contacts-container .contacts-info .contacts p {
  color: #E1D4C9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.container #contacts .contacts-container .contacts-info .contacts .address div {
  border-bottom: 2px solid #E1D4C9;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container #contacts .contacts-container .contacts-info .contacts .address:hover div {
  width: 100%;
  opacity: 1;
}
.container #contacts .contacts-container .contacts-info .contacts .phone div {
  border-bottom: 2px solid #E1D4C9;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container #contacts .contacts-container .contacts-info .contacts .phone:hover div {
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  nav a img {
    display: none;
  }
  nav a div {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .container .main .main-container .header-menu .burger-button {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
  }
  .container .main .main-container .header-menu .burger-button .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .container .main .main-container .header-menu .burger-button .burger-menu .bar {
    width: 16px;
    height: 1px;
    background-color: #403f3d;
    transition: all 0.3s ease-in-out;
  }
  .container .main .main-container .header-menu .burger-button.active .bar:first-of-type {
    transform: translateY(5px) rotate(45deg);
  }
  .container .main .main-container .header-menu .burger-button.active .bar:last-of-type {
    transform: translateY(-4px) rotate(-45deg);
  }
  .container .main .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    padding: 60px 40px;
    gap: 100px;
    width: 100%;
    min-height: 100vh;
    left: 100%;
    transition: 0.4s;
    z-index: 99;
    background-color: #E1D4C9;
    top: 80px;
  }
  .container .main .mobile-menu a {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    color: #403f3d;
    text-align: center;
    text-decoration: none;
  }
  .container .main .mobile-menu .mobile-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
    align-items: center;
    align-self: stretch;
  }
  .container .main .mobile-menu .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    list-style: none;
    padding: 0;
    gap: 60px;
    margin: 0;
  }
  .container .main .mobile-menu .mobile-coffee-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .container .main .mobile-menu .mobile-coffee-menu img {
    width: 40px;
    height: 40px;
  }
  .container .main .mobile-menu.active {
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .container .main .main-menu .menu-container .offer .offer-text {
    margin: 0 10px 0 10px;
  }
  .container .main .main-menu .menu-container #coffee-grid .hidden {
    display: none;
  }
  .container .main .main-menu .menu-container #dessert-grid .hidden {
    display: none;
  }
  .container .main .main-menu .menu-container .refresh {
    display: flex;
    align-self: center;
    align-items: center;
  }
  .container .main .main-menu .menu-container .refresh .refresh-button {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
    align-self: center;
  }
  #contacts {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .container #contacts .contacts-container {
    display: flex;
    padding: 100px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-items: stretch;
    border-radius: 40px;
    background: #665F55;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 490px) {
  .container .main .main-container {
    padding: 0 16px;
  }
  .container .main .main-menu {
    padding: 0 16px;
  }
  .container .main .main-menu .menu-container {
    gap: 38px;
  }
  .container .main .main-menu .menu-container .offer .offer-text {
    margin: 0 5px 0 0;
    font-size: 32px;
  }
  .container .main .main-menu .menu-container .offer .offer-text span {
    font-size: 32px;
  }
  .container .main .main-menu .menu-container .offer .tabs {
    gap: 8px;
  }
  .container #contacts {
    padding: 0 16px;
  }
  .container #contacts .contacts-container {
    padding: 60px 16px;
    gap: 40px;
  }
  .container #contacts .contacts-container .offer p {
    font-size: 32px;
  }
  .container #contacts .contacts-container .offer p span {
    font-size: 32px;
  }
}

/*# sourceMappingURL=menu.css.map */
