html {
  background-color: #E1D4C9;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.container {
  display: flex;
  max-width: 1440px;
  padding: 20px 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-left: auto;
  margin-right: auto;
}
.container .header {
  display: flex; /*creates flexbox that orders elements either in rows or columns*/
  flex-direction: column; /*column not columns, everything in one column, defines main axis, top-to bottom, in block direction, default is row */
  align-items: center; /*controls alignment of items on the cross axis (perpendicular to main axis)*/
  gap: 20px;
  align-self: stretch;
  box-sizing: border-box;
}
.container .header .header-container {
  display: flex;
  padding: 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.container .header .header-container .header-menu {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.container .header .header-container a {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  color: #403f3d;
}
.container .header .header-container nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0;
}
.container .header .header-container nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .header .header-container nav ul li div {
  border-bottom: 2px solid #403f3d;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container .header .header-container nav ul li:hover div {
  width: 100%;
  opacity: 1;
}
.container .header .header-container a div {
  border-bottom: 2px solid #403f3d;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container .header .header-container a:hover div {
  width: 100%;
  opacity: 1;
}
.container .header .header-container .burger-button {
  display: none;
}
.container .header .hero-outer-container {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
}
.container .header .hero-inner-container {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
.container .header .hero-inner-container .background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.container .header .offer {
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.container .header .offer p:first-of-type {
  align-self: stretch;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: #E1D4C9;
  margin: 0;
}
.container .header .offer p:first-of-type span {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  font-style: italic;
  color: #B0907A;
}
.container .header .offer p:last-of-type {
  margin: 0;
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
}
.container .header .offer .button-link {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px; /* rounded edges*/
  background: #E1D4C9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  color: #403f3d;
}
.container .header .offer .button-link .menu-text {
  transform: translateX(14px);
  transition: transform 0.5s; /*write it as a variable*/
}
.container .header .offer .button-link .coffee-cup {
  opacity: 0;
  transition: opacity 0.5s;
}
.container .header .offer .button-link:hover .menu-text {
  transform: translateX(0);
}
.container .header .offer .button-link:hover .coffee-cup {
  opacity: 1;
}
.container #favorite-outer-container {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.container #favorite-outer-container .favorite-inner-container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.container #favorite-outer-container .favorite-inner-container p {
  align-self: stretch;
  color: #403f3d;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container #favorite-outer-container .favorite-inner-container p span {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
  color: #B0907A;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .circle-button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 {
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content {
  display: flex;
  width: 480px;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content img {
  width: 480px;
  height: 480px;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content .slider-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content .slider-description p:first-of-type {
  align-self: stretch;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  text-align: center;
  margin: 0;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content .slider-description p:nth-of-type(2) {
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #403f3d;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content .slider-description p:last-of-type {
  align-self: stretch;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container div {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container div .controls-dark {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #665F55;
}
.container #favorite-outer-container .favorite-inner-container .slider-outer-container div .controls-light {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}
.container #about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 40px;
  width: 100%;
}
.container #about .about-container {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.container #about .about-container p {
  align-self: stretch;
  color: #403f3d;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container #about .about-container p span {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
  color: #B0907A;
}
.container #about .about-container .about-images {
  display: flex;
  max-width: 1360px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.container #about .about-container .about-images .column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
.container #about .about-container .about-images .column-1 .box-1 {
  display: flex;
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container #about .about-container .about-images .column-1 .box-1 div {
  width: 726px;
  height: 726px;
  flex-shrink: 0;
  background: url("./img/about-1.svg"), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container #about .about-container .about-images .column-1 .box-1 div:hover {
  transform: scale(0.9);
}
.container #about .about-container .about-images .column-1 .box-2 {
  display: flex;
  width: 660px;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container #about .about-container .about-images .column-1 .box-2 div {
  width: 726px;
  height: 726px;
  flex-shrink: 0;
  background: url("./img/about-2.svg"), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container #about .about-container .about-images .column-1 .box-2 div:hover {
  transform: scale(0.9);
}
.container #about .about-container .about-images .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
.container #about .about-container .about-images .column-2 .box-3 {
  display: flex;
  width: 660px;
  height: 430px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container #about .about-container .about-images .column-2 .box-3 div {
  width: 726px;
  height: 726px;
  flex-shrink: 0;
  background: url("./img/about-3.svg"), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container #about .about-container .about-images .column-2 .box-3 div:hover {
  transform: scale(0.9);
}
.container #about .about-container .about-images .column-2 .box-4 {
  display: flex;
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.container #about .about-container .about-images .column-2 .box-4 div {
  width: 726px;
  height: 726px;
  flex-shrink: 0;
  background: url("./img/about-4.svg"), lightgray 50%/cover no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}
.container #about .about-container .about-images .column-2 .box-4 div:hover {
  transform: scale(0.9);
}
.container #mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  padding: 0 40px;
}
.container #mobile .mobile-container {
  display: flex;
  max-width: 1360px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex: 1 0 0;
}
.container #mobile .mobile-container .mobile-offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.container #mobile .mobile-container .mobile-offer p:first-of-type {
  align-self: stretch;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  margin: 0 10px 0 0;
}
.container #mobile .mobile-container .mobile-offer p:first-of-type span {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
  color: #B0907A;
}
.container #mobile .mobile-container .mobile-offer p:last-of-type {
  align-self: stretch;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #403f3d;
  margin: 0;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .app-button {
  display: flex;
  width: 200px;
  box-sizing: border-box;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665F55;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .app-button img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .app-button div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .app-button div p:first-of-type {
  color: #403f3d;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  margin: 0;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .app-button div p:last-of-type {
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  margin: 0;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .play-button {
  display: flex;
  width: 200px;
  box-sizing: border-box;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665F55;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .play-button img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .play-button div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .play-button div p:first-of-type {
  color: #403f3d;
  text-align: start;
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  margin: 0;
}
.container #mobile .mobile-container .mobile-offer .mobile-buttons .play-button div p:last-of-type {
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  margin: 0;
}
.container #mobile .mobile-container .mobile-screens {
  width: 630px;
  height: 630px;
  background: url(./img/mobile-screens.svg), lightgray 50%/cover no-repeat;
}
.container #contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0 40px;
}
.container #contacts .contacts-container {
  display: flex;
  max-width: 1360px;
  box-sizing: border-box;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background-color: #665F55;
  margin-left: auto;
  margin-right: auto;
}
.container #contacts .contacts-container .offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.container #contacts .contacts-container .offer p {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: #E1D4C9;
  margin: 0;
}
.container #contacts .contacts-container .offer p span {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
  color: #B0907A;
}
.container #contacts .contacts-container .offer .socials {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container #contacts .contacts-container .offer .socials .socials-links {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  transition: background-color 0.5s ease;
  box-sizing: border-box;
}
.container #contacts .contacts-container .offer .socials .socials-links svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  transition: filter 0.5s ease;
}
.container #contacts .contacts-container .offer .socials .socials-links:hover {
  background-color: #C1B6AD;
}
.container #contacts .contacts-container .offer .socials .socials-links:hover path {
  stroke: #403f3d;
}
.container #contacts .contacts-container .contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.container #contacts .contacts-container .contacts-info p {
  align-self: stretch;
  color: #E1D4C9;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
.container #contacts .contacts-container .contacts-info .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.container #contacts .contacts-container .contacts-info .contacts a, .container #contacts .contacts-container .contacts-info .contacts p {
  color: #E1D4C9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.container #contacts .contacts-container .contacts-info .contacts .address div {
  border-bottom: 2px solid #E1D4C9;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container #contacts .contacts-container .contacts-info .contacts .address:hover div {
  width: 100%;
  opacity: 1;
}
.container #contacts .contacts-container .contacts-info .contacts .phone div {
  border-bottom: 2px solid #E1D4C9;
  align-self: center;
  width: 0%;
  transition: width 0.7s, opacity 0.7s;
  opacity: 0;
}
.container #contacts .contacts-container .contacts-info .contacts .phone:hover div {
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .desktop-nav {
    display: none;
  }
  .desktop-nav a img {
    display: none;
  }
  .desktop-nav a div {
    display: none;
  }
  .container .header {
    width: 100%;
  }
  .container .header .header-container a {
    display: none;
  }
  .container .header .header-container .burger-button {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
  }
  .container .header .header-container .burger-button .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .container .header .header-container .burger-button .burger-menu .bar {
    width: 16px;
    height: 1px;
    background-color: #403f3d;
    transition: all 0.3s ease-in-out;
  }
  .container .header .header-container .burger-button.active .bar:first-of-type {
    transform: translateY(5px) rotate(45deg);
  }
  .container .header .header-container .burger-button.active .bar:last-of-type {
    transform: translateY(-4px) rotate(-45deg);
  }
  .container .header .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    padding: 60px 40px;
    gap: 100px;
    width: 100%;
    min-height: 100vh;
    left: 100%;
    transition: 0.4s;
    z-index: 99;
    background-color: #E1D4C9;
    top: 80px;
  }
  .container .header .mobile-menu a {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    color: #403f3d;
    text-align: center;
    text-decoration: none;
  }
  .container .header .mobile-menu .mobile-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
    align-items: center;
    align-self: stretch;
  }
  .container .header .mobile-menu .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    list-style: none;
    padding: 0;
    gap: 60px;
    margin: 0;
  }
  .container .header .mobile-menu .mobile-coffee-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .container .header .mobile-menu .mobile-coffee-menu img {
    width: 40px;
    height: 40px;
  }
  .container .header .mobile-menu.active {
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .container .header .hero-inner-container {
    padding: 100px 60px;
  }
  .container .header .offer .button-link:hover .menu-text {
    transform: none;
  }
  .container .header .offer .button-link:hover .coffee-cup {
    opacity: 0;
    transition: none;
  }
  .container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 {
    display: flex;
    min-width: 480px;
    max-width: 1162px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content {
    width: 100%;
  }
  #about {
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
  }
  .container #about .about-container p {
    width: auto;
  }
  .container #about .about-container .about-images {
    flex-direction: column;
  }
  .container #about .about-container .about-images .column-1 .box-1 {
    width: 100%;
  }
  .container #about .about-container .about-images .column-2 .box-4 {
    width: 100%;
  }
  .container #about .about-container .about-images .column-1 .box-1 div:hover {
    transform: none;
  }
  .container #about .about-container .about-images .column-2 .box-4 div:hover {
    transform: none;
  }
  .container #about .about-container .about-images .column-1 .box-2 {
    display: none;
  }
  .container #about .about-container .about-images .column-2 .box-3 {
    display: none;
  }
  .container #mobile {
    padding: 0 40px;
  }
  .container #mobile .mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex: 1 0 0;
  }
  .container #contacts {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .container #contacts .contacts-container {
    display: flex;
    /*max-width: 1360px;*/
    padding: 100px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-items: stretch;
    border-radius: 40px;
    background: #665F55;
    box-sizing: border-box;
  }
  .container #contacts .contacts-container .offer .socials .socials-links:hover {
    background-color: initial;
    /*svg
    {
        filter: none;
    }
    /*path
    {
        stroke: initial;
    }*/
  }
}
@media screen and (max-width: 700px) {
  .container .header .header-container {
    padding: 0 16px;
  }
  .container .header .hero-outer-container {
    padding: 0 16px;
  }
  .container .header .offer {
    width: auto;
  }
  .container .header .offer p:first-of-type {
    font-size: 42px;
  }
  .container .header .offer p:first-of-type span {
    font-size: 42px;
  }
  .container .header .offer p:last-of-type {
    margin: 10px 0 0 0;
  }
  .container #favorite-outer-container {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
  .container .header .hero-inner-container {
    padding: 60px 16px;
  }
  .container #favorite-outer-container .favorite-inner-container p {
    font-size: 32px;
  }
  .container #favorite-outer-container .favorite-inner-container p span {
    font-size: 32px;
  }
  .container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .circle-button {
    display: none;
  }
  .container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .circle-button {
    display: none;
  }
  .container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 {
    min-width: 348px;
  }
  .container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content {
    width: 100%;
    max-width: 348px;
  }
  .container #favorite-outer-container .favorite-inner-container .slider-outer-container .slider-inner-container .slide-1 .slider-content img {
    width: 348px;
    height: 348px;
  }
  .container #about .about-container p {
    font-size: 32px;
    margin: 0 15px 0 0;
    width: auto;
  }
  .container #about .about-container p span {
    font-size: 32px;
  }
  .container #about {
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
  }
  .container #about .about-container .about-images .column-1 .box-1 {
    width: 100%;
  }
  .container #about .about-container .about-images .column-1 .box-1 div:hover {
    transform: none;
  }
  .container #about .about-container .about-images .column-2 .box-4 div:hover {
    transform: none;
  }
  .container #about .about-container .about-images .column-2 .box-4 {
    width: 100%;
  }
  .container #mobile {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
  .container #mobile .mobile-container {
    width: 100%;
    gap: 40px;
  }
  .container #mobile .mobile-container .mobile-offer {
    width: 100%;
  }
  .container #mobile .mobile-container .mobile-offer p:first-of-type {
    font-size: 32px;
  }
  .container #mobile .mobile-container .mobile-offer p:first-of-type span {
    font-size: 32px;
  }
  .container #mobile .mobile-container .mobile-offer .mobile-buttons {
    flex-direction: column;
  }
  .container #mobile .mobile-container .mobile-screens {
    height: 348px;
    width: 348px;
    background-size: contain;
  }
  .container #contacts {
    width: 100%;
    padding: 0 16px;
  }
  .container #contacts .contacts-container {
    padding: 60px 16px;
    gap: 40px;
  }
  .container #contacts .contacts-container .offer p {
    font-size: 32px;
  }
  .container #contacts .contacts-container .offer p span {
    font-size: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
